<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template Engine testing</title>
</head>
<body>
    <h1>Welcome <%= user.name %></h1>
    <h3>Your email is <%= user.email %></h3>

    <ol>
        <% user.skills.forEach((item) => { %>
            <li> <%= item %> </li>
        <% }) %>
    </ol>
</body>
</html>
